# @Author: vxhly
# @Date:   2018-03-12 08:29:51 pm
# @Email:  pengchengou@gmail.com
# @Filename: .travis.yml
# @Last modified by:   vxhly
# @Last modified time: 2018-03-12 09:19:26 pm
# @License: MIT
script:
  - npm publish
deploy:
  provider: npm
  email: pengchengou@gmail.com
  api_key: 954609e7-5033-4b65-9777-424bd6abcd5c
  on:
    tags: true
    repo: vxhly/scss-flex
