/**
  * [交叉轴对齐方式：从上到下(默认)]
  */

[flex~='cross:top'],
[inline-flex~='cross:top'] {
  align-items: flex-start;
}

/**
  * [交叉轴对齐方式：从下到上]
  */

[flex~='cross:bottom'],
[inline-flex~='cross:bottom'] {
  align-items: flex-end;
}

/**
  * [交叉轴对齐方式：居中对齐]
  */

[flex~='cross:center'],
[inline-flex~='cross:center'] {
  align-items: center;
}

/**
  * [交叉轴对齐方式：跟随内容高度对齐]
  */

[flex~='cross:baseline'],
[inline-flex~='cross:baseline'] {
  align-items: baseline;
}

/**
  * [交叉轴对齐方式：高度并排铺满]
  */

[flex~='cross:stretch'],
[inline-flex~='cross:stretch'] {
  align-items: stretch;
}

/**
  * [主轴交叉轴对齐方式：居中]
  */

[flex~='main-cross:center'],
[inline-flex~='main-cross:center'] {
  justify-content: center;
  align-items: center;
}