/**
  * [换行方式：不换行(默认)]
  */

[flex~='wrap:nowrap'],
[inline-flex~='wrap:nowrap'] {
  flex-wrap: nowrap;
}

/**
  * [换行方式：换行，第一行在上方]
  */

[flex~='wrap:wrap'],
[inline-flex~='wrap:wrap'] {
  flex-wrap: wrap;
}

/**
  * [换行方式：换行，第一行在下方]
  */

[flex~='wrap:reverse'],
[inline-flex~='wrap:reverse'] {
  flex-wrap: wrap-reverse;
}