/**
  * [主轴方向：从左到右(默认)]
  */

[flex~='dir:left'],
[inline-flex~='dir:left'] {
  flex-direction: row;
}

/**
  * [主轴方向：从右到左)]
  */

[flex~='dir:right'],
[inline-flex~='dir:right'] {
  flex-direction: row-reverse;
}

/**
  * [主轴方向：从上到下]
  */

[flex~='dir:top'],
[inline-flex~='dir:top'] {
  flex-direction: column;
}

/**
  * [主轴方向：从下到上]
  */

[flex~='dir:bottom'],
[inline-flex~='dir:bottom'] {
  flex-direction: column-reverse;
}