/**
  * [布局方式：从左到右且不换行(默认)]
  */

[flex~='flow:left-nowrap'],
[inline-flex~='flow:left-nowrap'] {
  flex-flow: row nowrap;
}

/**
  * [布局方式：从左到右且换行，第一行在上方]
  */

[flex~='flow:left-wrap'],
[inline-flex~='flow:left-wrap'] {
  flex-flow: row wrap;
}

/**
  * [布局方式：从左到右且换行，第一行在下方]
  */

[flex~='flow:left-reverse'],
[inline-flex~='flow:left-reverse'] {
  flex-flow: row wrap-reverse;
}

/**
  * [布局方式：从右到左且不换行]
  */

[flex~='flow:right-nowrap'],
[inline-flex~='flow:right-nowrap'] {
  flex-flow: row-reverse nowrap;
}

/**
  * [布局方式：从右到左且换行，第一行在上方]
  */

[flex~='flow:right-wrap'],
[inline-flex~='flow:right-wrap'] {
  flex-flow: row-reverse wrap;
}

/**
  * [布局方式：从右到左且换行，第一行在下方]
  */

[flex~='flow:right-reverse'],
[inline-flex~='flow:right-reverse'] {
  flex-flow: row-reverse wrap-reverse;
}

/**
  * [布局方式：从上到下且不换行]
  */

[flex~='flow:top-nowrap'],
[inline-flex~='flow:top-nowrap'] {
  flex-flow: column nowrap;
}

/**
  * [布局方式：从上到下且换行，第一行在上方]
  */

[flex~='flow:top-wrap'],
[inline-flex~='flow:top-wrap'] {
  flex-flow: column wrap;
}

/**
  * [布局方式：从上到下且换行，第一行在下方]
  */

[flex~='flow:top-reverse'],
[inline-flex~='flow:top-reverse'] {
  flex-flow: column wrap-reverse;
}

/**
  * [布局方式：从下到上且不换行]
  */

[flex~='flow:bottom-nowrap'],
[inline-flex~='flow:bottom-nowrap'] {
  flex-flow: column-reverse nowrap;
}

/**
  * [布局方式：从下到上且换行，第一行在上方]
  */

[flex~='flow:bottom-wrap'],
[inline-flex~='flow:bottom-wrap'] {
  flex-flow: column-reverse wrap;
}

/**
  * [布局方式：从下到上且换行，第一行在下方]
  */

[flex~='flow:bottom-reverse'],
[inline-flex~='flow:bottom-reverse'] {
  flex-flow: column-reverse wrap-reverse;
}