/**
  * [主轴对齐方式：从左到右(默认)]
  */

[flex~='main:left'],
[inline-flex~='main:left'] {
  justify-content: flex-start;
}

/**
  * [主轴对齐方式：从右到左]
  */

[flex~='main:right'],
[inline-flex~='main:right'] {
  justify-content: flex-end;
}

/**
  * [主轴对齐方式：两端对齐]
  */

[flex~='main:between'],
[inline-flex~='main:between'] {
  justify-content: space-between;
}

/**
  * [主轴对齐方式：分散对齐]
  */

[flex~='main:around'],
[inline-flex~='main:around'] {
  justify-content: space-around;
}

/**
  * [主轴对齐方式：居中对齐]
  */

[flex~='main:center'],
[inline-flex~='main:center'] {
  justify-content: center;
}

/**
  * [主轴交叉轴对齐方式：居中]
  */

[flex~='main-cross:center'],
[inline-flex~='main-cross:center'] {
  justify-content: center;
  align-items: center;
}