* {
  -webkit-tap-highlight-color: transparent;
  outline: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

body {
  font-size: $baseFontSize;
  font-family: -apple-system, Helvetica, "Microsoft YaHei", Arial, sans-serif;
  line-height: 1.5;
  color: $baseColor;
  background-color: $baseBgColor;
  text-size-adjust: 100% !important;
  user-select: none;
}