/**
  * [定义 flex 布局]
  */
[flex] {
  display: flex;

  > {
    * {
      display: block;
    }

    [flex] {
      display: flex;
    }
  }
}

[inline-flex] {
  display: inline-flex;

  > {
    * {
      display: block;
    }

    [flex] {
      display: inline-flex;
    }
  }
}